<div class="menu-scroll">
    <div class="menu-wrap">
        <div class="menu-content">
            <ul class="nav">
                <li>
                    <a class="indigo-text" href="https://raw.githubusercontent.com/YoannB/material-colors.css/master/dist/material-colors.css" download="material-colors.css" target="_blank">
                        <div class="col-xs-2 text-center">
                            <i class="fa fa-download fa-2x"></i>
                        </div>
                        <div class="col-xs-10 text-left">
                            Download material-colors.css
                        </div>
                    </a>
                </li>
                <li>
                    <a class="indigo-text" href="http://github.com/YoannB/material-colors.css" target="_blank">
                        <div class="col-xs-2 text-center">
                            <i class="fa fa-eye fa-2x"></i>
                        </div>
                        <div class="col-xs-10 text-left">
                            View on GitHub
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>